*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header{
		width : 100%;
		height : 50px;
		border: 1px solid black;
}

.navMenuBar li{
	text-align: center;
	display:block;
	float: left;
	width: 25%;
	height: 50px;
	padding: 15px;
	border:1px solid black;
}

.navMenuBar li:hover{
	background-color:black;
	color:white;
	cursor:pointer;
}
aside{
	clear:both;
	float:left;
	width:10%;
	height:1000px;
	background-color:black;
	
}

aside .asideMainMenu{
	text-align:center;
	width:100%;
	height:50px;
	border: 1px solid white;
	background-color:gray;
	color:white;
	font-weight:bold;
	padding:15px;
	
}
aside .asideMainMenu:hover{
	background-color:black;
	color:white;
	cursor:pointer;
	
}
	
.dropdown-content{
	display:none;
	width:100%;
	height:auto;
	
}
.dropdown-content a{
	display:block;
	width:100%;
	height:50px;
	padding:15px;
	background-color:white;
	color:black;
	border:1px solid gray;
	text-decoration:none;
	text-align:right;
	
}

.dropZone{
	float:left;
	width:90%;
	height:1000px;
}

.dragZone{

}
.dropZone{
	
}